/* Sky black #313131 */
/*mars Red #E0473D */
/*light #E4E7F2 */
/*close #EAB22B*/

body {
  background: #313131;
}

h1 {
  text-align: center;
  color: #E0473D;
  font-family: 'Rubik Mono One';
}

rect {
  fill: #E0473D;
  rx: 5;
  ry: 5;
}

.chart {
  background: #313131;
}

.info {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.axis {
  stroke: #E4E7F2;
}

.domain, line {
  stroke: #313131;
}
