/* Sky black #313131 */
/*mars Red #E0473D */
/*light #E4E7F2 */
/*close #EAB22B*/

body {
  background: #313131;
}

h1, .finalPopUp__close {
  text-align: center;
  color: #E0473D;
  font-family: 'Rubik Mono One';
}

.finalPopUp__close {
  font-size: 0.9em;
  margin-left: 4em;
}

rect {
  /*fill: #E4E7F2;*/
  rx: 5;
  ry: 5;
}

.popupBox__text, .finalPopUp__text {
  fill: #313131;
  font-family: 'Open Sans';
  font-size: 0.9em;
}

.chart {
  background: #313131;
  display: flex;
  /*background: pink;*/
  width: 65%;
  margin:auto;
  left: 10em;
  position: fixed;
}

.info {
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.axis, text {
  fill: #E4E7F2;
}

.domain, line {
  display: none;
  stroke: #313131;
}

.button {
  border: none;
  background: none;
  color: #E0473D;
  font-family: 'Rubik Mono One';
  /*display: none;*/
  outline: none;
  text-align: center;
  margin: auto;
}

.start {
  display: block;
  font-size: 1.3em;
}

.modal__container {
  background-color: #E4E7F2;
  max-width: 10em;
  margin-left: 70em;
  margin-top: 10em;
  padding: 1em;
  position: absolute;
  border-radius: 5%;
  opacity: 0.7;
}

.finalPopUp__container {
  background-color: #E4E7F2;
  max-width: 10em;
  margin-left: 70em;
  margin-top: 0em;
  padding: 1em;
  position: absolute;
  border-radius: 5%;
  opacity: 1;
}

.flex-container {
  display: flex;
}

.modal__text {
  font-family: 'Open Sans';
  color: #313131;
  font-size: 0.8em;
}

.modal__close {
  color: #E0473D;
  font-family: sans-serif;
  cursor: pointer;
  cursor: hand;
}

.startButtonRect {
  fill: #E0473D;
}

.nextButton:hover {
  cursor: pointer;
  cursor: hand;
}

.flex-container-column {
  display: flex;
  flex-direction: column;
}

.finalText {
  font-family: 'Rubik Mono One';
  font-size: 0.9em;
}
